flask
flask_restful
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.1
Pillow==8.3.2
ply==3.11
productmd==1.33
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.6.0
pure-eval==0.2.2
pycairo==1.20.1
pycparser==2.20
pycrypto==2.6.1
pycurl==7.44.1
pyenchant==3.2.2
Pygments==2.11.2
pykickstart==3.34
pyOpenSSL==21.0.0
pyparsing==2.4.7
gunicorn
requests==2.27.0
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
dnspython